<div class="vendor-payment-wrapper p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <p class="mb-0">Selected Documents: <span id="selected-count" class="fw-bold text-primary">0</span></p>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered align-middle table-hover" id="vendor-payment-table">
            {% if document_type == "Expense Claim" %}
            <thead class="table-light">
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>Expense Claim</th>
                    <th>Employee</th>
                    <th>Employee Name</th>
                    <th>Amount</th>
                    <th class="sortable" data-sort-key="posting_date">
                        Date
                        <span class="sort-icon sort-icon-pe" data-order-type="ASC">⇅</span>
                    </th>                    
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>
                        <input type="checkbox" class="document-selected" data-invoice="{{ row.document_name }}">
                    </td>
                    <td>
                        <a href="/desk/Form/Expense Claim/{{ row.document_name }}" class="text-decoration-none">
                            {{ row.document_name }}
                        </a>
                    </td>
                    <td>
                        <a href="/desk/Form/Employee/{{ row.employee }}">{{ row.employee }}</a>
                    </td>
                    <td>
                        {{ row.employee_name }}
                    </td>
                    
                    <td>{{ row.grand_total }}</td>
                    <td>{{ row.posting_date }}</td>
                    <td ><span class="badge ">{{ row.approval_status }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}

            {% if document_type == "Purchase Invoice" %}
            <thead class="table-light">
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>Purchase Invoice</th>
                    <th width="30%">Supplier Name</th>
                    <th class="sortable" data-sort-key="posting_date">
                        Date
                        <span class="sort-icon sort-icon-pe" data-order-type="ASC">⇅</span>
                    </th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>
                        <input type="checkbox" class="document-selected" data-invoice="{{ row.document_name }}">
                    </td>
                    <td>
                        <a href="/desk/Form/Purchase Invoice/{{ row.document_name }}" class="text-decoration-none">
                            {{ row.document_name }}
                        </a>
                    </td>
                    <td>{{ row.supplier_name }}</td>
                    <td>{{ row.posting_date }}</td>
                    <td>{{ row.currency }}</td>
                    <td>{{ row.outstanding_amount }}</td>
                    <td>
                        <span class="badge 
                        ">
                            {{ row.status }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
            {% if document_type == "Purchase Order" %}
            <thead class="table-light">
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>Purchase Order</th>
                    <th width="30%">Supplier Name</th>
                    <th class="sortable" data-sort-key="posting_date">
                        Date
                        <span class="sort-icon sort-icon-pe" data-order-type="ASC">⇅</span>
                    </th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Advance Paid</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>
                        <input type="checkbox" class="document-selected" data-invoice="{{ row.document_name }}">
                    </td>
                    <td>
                        <a href="/desk/Form/Purchase Order/{{ row.document_name }}" class="text-decoration-none">
                            {{ row.document_name }}
                        </a>
                    </td>
                    <td>{{ row.supplier_name }}</td>
                    <td>{{ row.posting_date }}</td>
                    <td>{{ row.currency }}</td>
                    <td>{{ row.grand_total }}</td>
                    <td>{{ row.advance_paid }}</td>
                    <td>
                        <span class="badge">
                            {{ row.status }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
<style>
    .vendor-payment-wrapper .badge {
    font-size: 0.9rem;
    padding: 0.4em 0.6em;
    border-radius: 0.4rem;
}

.vendor-payment-wrapper table th,
.vendor-payment-wrapper table td {
    vertical-align: middle;
}
.sortable {
    cursor: pointer;
    user-select: none;
}

.sort-icon {
    font-size: 0.9rem;
    margin-left: 0.3rem;
    color: #6c757d;
}

</style>